## this is a template , you have to fill it and rename to 
## ./env.sh
##

TENANT_ID=<insert yout tenantid>
SUBSCRIPTION_ID=<insert your subscription id>
PREFIX=<prefix>
## env to allow deploying the same pipeline to different environment
ENV=<env>
## FOLDER to deploy a specifc workload 
FOLDER=<folder to work with>
