## this is a template , you have to fill it and rename to 
## ./env.sh
##

TENANT_ID=<insert yout tenantid>
SUBSCRIPTION_ID=<insert your subscription id>
PREFIX=<prefix>
## env to allow deploying the same pipeline to different environment
ENV=<env>
## FOLDER to deploy a specifc workload 
FOLDER=<folder to work with>
USE_OIDC=true ## to use AAD login set this to true  , if set to false we will have to create a keyvault and a SP and secret for terraform and stores secrets and storage account sas key in it.
GITHUB_REPO=<repo name> ## necessary to create the GH service principal in AAD
GITHUB_ORG=<githuborg>   ## necessary to create the GH service principal in AAD (would be your username if you do not use an org)
